<h2>Upload form for file hoster Send.cm</h2>

https://sendcm.docs.apiary.io/#reference/upload/upload-server/get-files-list
    
    <form enctype="multipart/form-data" action="https://cloud.send.cm/cgi-bin/upload.cgi" method="post">
     <input name="sess_id" value="3qr5wkukoy31pd1g" type="hidden">
     <input name="file"    type="file">
     <button name="send"   type="submit">RiesenGlocken</button>
    </form>
